<div class="distance">
<div class="alert alert-info" role="alert">
  <a href="#/suspenses/add" class="alert-link">Want to add a thriller to our collection?</a>
</div>
<div class="distance2">
  <div class="panel panel-default" ng-init="getSuspenses()">
    <div class="panel-heading">
    <h3 class="panel-title">The Best Thriller Collection</h3>
    </div>
    <div class="panel-body">
    <div class="row">
    	<div ng-repeat="suspense in suspenses">
    		<div class="col-md-6">
      			<div class="col-md-6">
    				<h4>{{suspense.title}}</h4>
    				<p>{{suspense.description}}</p>
    				<a class="btn btn-primary" href="#/suspenses/sus-detail/{{suspense._id}}">View Details</a>
    			</div>
    			<div class="col-md-6">
      				<img class="thumbnail fit" src="{{suspense.image_url}}">
        			</div>
    		  </div>
    	</div>
    </div>
  </div>
</div>
</div>
